{% extends "base.html" %}

{% block content %}
<div class="container">
  {% if current_user.is_authenticated %}
  <h1>Welcome {{ current_user.username }} </h1>
  {% else %}
  <h1>Welcome to QeeBot!</h1>
  {% endif %}
  <hr>
  <p>Add some content here!</p>
</div>
{% endblock %}